.git
.github
.venv
.gov
pragttttiii-sherr-main
node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
__pycache__
**/__pycache__
.freebuff
SIH2026
*.png
*.jpg
*.jpeg
*.webp
*.avif
*.mp4
*.pptx
*.pdf
*.zip
*.docx
*.md
*.html
*.joblib
!model_and_calibrator_FINAL.joblib
.env
.env.*
